<div class="container py-2">
  <div class="profile-card">
    <!-- Profile Form -->
    <div class="profile-form">
      <form [formGroup]="userForm">
        <!-- Mentor Name -->
        <div class="form-group">
          <label for="fullName" class="form-label">Full name</label>
          <input id="fullName" type="text" class="form-control" formControlName="full_name"
            placeholder="Enter full name" />
          <div *ngIf="userForm.get('full_name')?.invalid && userForm.get('full_name')?.touched" class="text-danger">
            Họ và tên là bắt buộc.
          </div>
        </div>
        <!-- Position -->
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" class="form-control" formControlName="email" placeholder="Nhập email" />
          <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
            Email không hợp lệ.
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="form-label">Số điện thoại</label>
          <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber"
            placeholder="Nhập số điện thoại" />
          <div *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched" class="text-danger">
            Số điện thoại không hợp lệ.
          </div>
        </div>
    
        <div class="form-group">
          <label for="gender" class="form-label">Giới tính</label>
          <select id="gender" class="form-control" formControlName="gender">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
            <option value="Khác">Khác</option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="dateOfBirth" class="form-label">Ngày sinh</label>
          <input id="dateOfBirth" type="date" class="form-control" formControlName="dateOfBirth" />
        </div>
    
        <div class="form-group">
          <label for="desiredRole" class="form-label">Vai trò mong muốn</label>
          <input id="desiredRole" type="text" class="form-control" formControlName="desiredRole"
            placeholder="Nhập vai trò mong muốn" />
        </div>
      </form>
    </div>
    <!-- Form Footer -->
    <div class="form-footer">
      <button type="submit" class="btn btn-primary" (click)="updateUser()">Cập nhật</button>
    </div>
  </div>
</div>


