<div class="table-container">
  <div class="content p-3">
    <!-- Filters -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Lecturer name" [(ngModel)]="keyword">
          </div>
          <div class="col-md-4">
            <label class="form-label">Department</label>
            <input type="email" class="form-control" placeholder="department" [(ngModel)]="keyword">
          </div>
          <div class="col-md-4">
            <label class="form-label">Lecturer code</label>
            <input type="tel" class="form-control" placeholder="Lecturer code" [(ngModel)]="keyword">
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-secondary me-2">Reset</button>
            <button class="btn btn-primary" (click)="searchlecturer()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Customers Table -->
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">All Users</h5>
        <button type="button" class="btn btn-primary"><i class="bi bi-person-add" style="font-size: 20px;"
            data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addLecturer()"></i> Add</button>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên Giảng viên</th>
                <th>Khoa</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lecturer of lecturerList">
                <td style="cursor: pointer;" (click)="onStudentClick(lecturer.id)">{{ lecturer.id }}</td>
                <td style="cursor: pointer;" (click)="onStudentClick(lecturer.id)">{{ lecturer.lecturer_name }}</td>
                <td>{{ lecturer.department }}</td>
                <td>
                  <!-- Nút ba chấm -->
                  <div class="dropdown">
                    <button class="btn btn-light p-0 border-0" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <!-- Danh sách nút hiển thị khi nhấn -->
                    <ul class="dropdown-menu">
                      <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                          data-bs-target="#exampleModal" (click)="updateLecturer(lecturer)">
                          <i class="bi bi-vector-pen"></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                          data-bs-target="#exampleModal2" (click)="updateUser(lecturer)">
                          <i class="bi bi-person-fill-gear"></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item text-danger" (click)="deleteUser(lecturer.user_id)">
                          <i class="bi bi-trash"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <div>Showing {{ currentPage + 1 }} of {{ totalPages }} pages</div>
        <nav>
          <ul class="pagination mb-0">
            @if(currentPage > 0) {
            <li class="page-item disabled">
              <a class="page-link" (click)="onPageChange(0)" tabindex="-1">First</a>
            </li>
            }

            @if(currentPage > 0) {
            <li class="page-item">
              <a class="page-link" (click)="onPageChange(currentPage - 1)">
                <i class="fa fa-chevron-left"></i>
              </a>
            </li>
            }
            @for(page of visiblePages; track page) {
            <ng-container>
              <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
                <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
              </li>
            </ng-container>
            }

            @if(currentPage < totalPages - 1) { <li class="page-item">
              <a class="page-link" (click)="onPageChange(currentPage + 1)">
                <i class="fa fa-chevron-right"></i>
              </a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="onPageChange(totalPages - 1)">Last</a>
              </li>
              }
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="profile-header">
            <h1 class="profile-title">Lecturer Information</h1>
            <p class="profile-subtitle">Create or update lecturer details</p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="margin-bottom: 20px;" (click)="dong()"></button>
        </div>
        <div class="modal-body">
          <app-lecturer-admin-create-update [lecturer]="lecturer"
            *ngIf="dangThemSua"></app-lecturer-admin-create-update>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="profile-header">
            <h1 class="profile-title">Lecturer Account</h1>
            <p class="profile-subtitle">Update lecturer account</p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="margin-bottom: 20px;" (click)="dong()"></button>
        </div>
        <div class="modal-body">
          <app-student-admin-update [lecturer]="lecturer" *ngIf="dangThemSua"></app-student-admin-update>
        </div>
      </div>
    </div>
  </div>