<div class="container py-2">
  <div class="profile-card">
    <!-- Profile Form -->
    <div class="profile-form">
      <form #studentForm="ngForm">
        <!-- Mentor Name -->
        <div class="form-group">
          <label for="company_name" class="form-label">Company Name</label>
          <input type="text" id="company_name" class="form-control" name="company_name" required
            placeholder="Enter company name" [(ngModel)]="company_name" />
        </div>
        <!-- Position -->
        <div class="form-group">
          <label for="address" class="form-label">Address</label>
          <input type="text" id="address" class="form-control" name="address" placeholder="Enter position"
            [(ngModel)]="address" />
        </div>
        <div class="form-group">
          <label for="contact_person" class="form-label">Contact person</label>
          <input type="text" id="contact_person" class="form-control" name="contact_person" placeholder="Enter position"
            [(ngModel)]="contact_person" />
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" class="form-control" name="email" placeholder="Enter email"
            [(ngModel)]="email" />
        </div>
        <div class="form-group">
          <label for="phone_number" class="form-label">Phone number</label>
          <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="Enter position"
            [(ngModel)]="phone_number" />
        </div>

      </form>
    </div>
    <!-- Form Footer -->
    <div class="form-footer">
      <button class="btn btn-primary me-2" (click)="createCompany()" *ngIf="company?.id === 0">Create Company</button>
      <button class="btn btn-primary" (click)="updateCompany(company)" *ngIf="company?.id !== 0">Update Company</button>
    </div>
  </div>
</div>