        <!-- Main Content -->
        <main class="col-md-10">
            <div class="content-header">
                <h2>Báo cáo</h2>
            </div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Tên sinh viên</th>
                        <th>Lớp sinh viên</th>
                        <th>Bài nộp</th>
                        <th>Ngày nộp</th>
                        <th>Trạng thái nộp bài</th>
                        <th>Chấm điểm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let submission of submissions; trackBy: trackById">
                      <td>{{ submission.student_code }}</td>
                      <td>{{ submission.student_name }}</td>
                      <td>{{ submission.student_class }}</td>
                      <td>
                        <button
                          class="btn btn-link"
                          (click)="downloadFile(submission.file)"
                        >
                          Tải file
                        </button>
                      </td>
                      <td>{{ submission.submission_date }}</td>
                      <td>{{ submission.status }}</td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-info"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal"
                          (click)="addDiem(submission)"
                        >
                        <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button
                        style="margin-left: 10px;"
                          type="button"
                          class="btn btn-info"
                          data-bs-toggle="modal"
                          data-bs-target="#viewGradeModal"
                          (click)="getDiem(submission.id)"
                        >
                        <i class="fa-regular fa-eye"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  
            </table>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 20px;">Chấm điểm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-bottom: 20px;" (click)="dong()"></button>
                    </div>
                    <div class="modal-body" >
                        <form #studentForm="ngForm">
                            <div>
                              <label for="grade">Điểm:</label>
                              <input
                                type="text"
                                id="grade"
                                [(ngModel)]="grade"
                                name="grade"
                                required
                              />
                            </div>
                          
                            <div>
                              <label for="feedback">Đánh giá:</label>
                              <input
                                type="text"
                                id="feedback"
                                [(ngModel)]="feedback"
                                name="feedback"
                              />
                            </div>
                            
                            <button style="margin-top: 10px; margin-left: 120px;" class="btn btn-primary me-2" (click)="submit(selectedSubmission?.id)">Create Lecturer</button> 
                          </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal Xem Điểm -->
            <div class="modal fade" id="viewGradeModal" tabindex="-1" aria-labelledby="viewGradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewGradeModalLabel">Xem Điểm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>Điểm:</label>
                                <input type="text" [(ngModel)]="grading.grade" readonly />
                            </div>
                            <div>
                                <label>Đánh giá:</label>
                                <textarea [(ngModel)]="this.grading.feedback" readonly></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </main> 
  