<div class="content-card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="profile-info-card text-center">
          <div class="profile-header">
            <h5 class="mb-0">Hồ Sơ Sinh Viên</h5>
          </div>
          <div class="profile-body">
            <div class="profile-upload mb-4">
              <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Profile Image" class="profile-image">
              <div class="upload-icon">
                <i class="fas fa-camera"></i>
            </div>
            </div>
            <h4 class="mb-1">{{ studentResponse.student_name }}</h4>
            <p class="text-muted mb-3">{{ studentResponse.class_student }} | {{ studentResponse.student_code }}</p>
            <div class="d-grid">
              <button class="btn edit-button">
                  <i class="fas fa-edit me-2"></i>Chỉnh sửa hồ sơ
              </button>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="profile-info-card">
          <div class="profile-header">
            <h5 class="mb-0">Thông Tin Chi Tiết</h5>
          </div>
          <div class="profile-body">
            <div class="row">
              <div class="col-md-12">
                <div class="info-label">Số điện thoại</div>
                <div class="info-value">{{ studentResponse.user_response.phone_number }}</div>
              </div>
              <div class="col-md-12">
                <div class="info-label">Ngày sinh</div>
                <div class="info-value">{{ studentResponse.user_response.date_of_birth }}</div>
              </div>
              <div class="col-md-12">
                <div class="info-label">Giới tính</div>
                <div class="info-value">{{ studentResponse.user_response.gender }}</div>
              </div>
              <div class="col-md-12">
                <div class="info-label">Email</div>
                <div class="info-value">{{ studentResponse.user_response.desired_role }}</div>
              </div>
              <div class="col-md-12">
                <div class="info-label">Số điện thoại</div>
                <div class="info-value">{{ studentResponse.user_response.role.name }}</div>
              </div>
              <div class="col-md-12">
                <div class="info-label">Khoa</div>
                <div class="info-value">{{ studentResponse.user_response.full_name }}</div>
              </div>
            </div>
          </div> 
          <button class="btn edit-button"  style="margin-left: 690px; margin-bottom: 20px;" data-bs-toggle="modal"
          data-bs-target="#exampleModal" (click)="updateStudent(studentResponse)">
          <i class="fas fa-edit me-2"></i> Chỉnh sửa hồ sơ
        </button>
        </div>
      </div>
      <div class="col-lg-12 mt-4">
        <div class="profile-info-card">
          <div class="profile-header">
            <h5 class="mb-0">Thông Tin Chi Tiết</h5>
          </div>
          <div class="profile-body">
            <div class="row">
              <div class="col-md-">
                <div class="info-label">Họ và tên</div>
                <div class="info-value">{{ studentResponse.major }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Ngày sinh</div>
                <div class="info-value">{{ studentResponse.year_of_study }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Giới tính</div>
                <div class="info-value">{{ studentResponse.student_status }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Email</div>
                <div class="info-value">{{ studentResponse.company_name }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Số điện thoại</div>
                <div class="info-value">{{ studentResponse.company_supervisor_name }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Khoa</div>
                <div class="info-value">{{ studentResponse.supervisor_name }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Khoa</div>
                <div class="info-value">{{ studentResponse.position }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Khoa</div>
                <div class="info-value">{{ studentResponse.start_date }}</div>
              </div>
              <div class="col-md-6">
                <div class="info-label">Khoa</div>
                <div class="info-value">{{ studentResponse.end_date }}</div>
                <div class="col-md-6">
                  <div class="info-label">Khoa</div>
                  <div class="info-value">{{ studentResponse.language }}</div>
                </div>
                <div class="col-12">
                  <div class="info-label">Địa chỉ</div>
                  <div class="info-value">170 An Dương Vương, Phường Nguyễn Văn Cừ, Thành phố Quy Nhơn, Tỉnh Bình Định
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 20px;">{{tieude}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dong()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="form-group">
              <label for="fullName">Full Name:</label>
              <input id="fullName" type="text" class="form-control" formControlName="full_name"
                placeholder="Nhập họ và tên" />
              <div *ngIf="userForm.get('full_name')?.invalid && userForm.get('full_name')?.touched" class="text-danger">
                Họ và tên là bắt buộc.
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="email" class="form-control" formControlName="email" placeholder="Nhập email" />
              <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                Email không hợp lệ.
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input id="phoneNumber" type="text" class="form-control" formControlName="phone_number"
                placeholder="Nhập số điện thoại" />
              <div *ngIf="userForm.get('phone_number')?.invalid && userForm.get('phone_number')?.touched"
                class="text-danger">
                Số điện thoại là bắt buộc.
              </div>
            </div>

            <div class="form-group">
              <label for="dateOfBirth">Date of Birth:</label>
              <input id="dateOfBirth" type="date" class="form-control" formControlName="date_of_birth" />
            </div>

            <div class="form-group">
              <label for="desiredRole">Desired Role:</label>
              <input id="desiredRole" type="text" class="form-control" formControlName="desired_role"
                placeholder="Nhập vai trò mong muốn" />
            </div>

            <div class="form-group">
              <label for="gender">Gender:</label>
              <select id="gender" class="form-control" formControlName="gender">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 20px;" (click)="submitUser()">Cập
              nhật</button>
          </form>
        </div>
      </div>
    </div>
  </div>