<div class="dropdown ms-2">
    <button class="btn btn-icon" type="button" data-bs-toggle="dropdown">
      <i class="bi bi-person-circle person-circle" ></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item"  (click)="handleItemClick(0)">{{userResponse?.full_name}}</a></li>
      <li><a class="dropdown-item" ><i class="bi bi-person" (click)="handleItemClick(0)"></i> Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" ><i class="bi bi-box-arrow-right" (click)="logout()"></i> Logout</a></li>
    </ul>
  </div>